* {
    padding: 0;
    margin: 0;
    font-family: 'Molengo', sans-serif;
}
.coverPage {
    background-image: url("./logos/corona2.png");
    background-repeat: no-repeat;
    height: 672px;
    background-position: 50% 50%;
    background-size:550px;
    position: relative;
}

/*Portada de la invitacion, incluye título, subtítulo, scroll de flecha e imagenes de hojas*/
/*Contenedor 1*/
.container {
    display: flex;
    justify-content: center;
}

/*Titulo principal Gene & Juan*/
.title {
    margin: 0px auto;
    text-align: center;
    font-family: 'Montez', 'cursive';
    color: #966D39;
    font-size: 65px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/*Subtitulo Nos casamos*/
.subTitle {
    margin: 0px auto;
    text-align: center;
    color: #966D39;
    font-size: 20px;
    letter-spacing: 5px;
    position: absolute;
    top: 58%;
    transform: translateY(-58%);
}

/*Flecha con efecto scroll desintegrandose*/
.arrowScroll {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrowScroll span {
    display :block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #b19359;
    border-right: 5px solid #b19359;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
    z-index: 100;
}

.arrow span:nth-child(2){
    animation-delay: -.2s;
}
.arrow span:nth-child(2){
    animation-delay: -.4s;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);   
    }
    50% {
        opacity: 1;   
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);   
    }
}


/*Primer divisor fondo verde con gradiente radial*/
.gradient {
    height: 80px;
    width: 100%;
    position: relative;
    background-image: radial-gradient(#84BA8D, #2F643A);
}

/*Letras blancas para encabezados*/
.whiteLeters {
    color: white;
    width: 100%;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/*Invitación a la celebración incluye copas, imagen de hojas, título y parrafo*/
/*Contenedor2*/
.container2 {
    display: flex;
    justify-content: center;
    height: 700px;
    position: relative;
}

/*Racimo de hojas*/
.cluster1 {
    height: 240px;
    width: 140px;
    position: absolute;
    top: 7%;
    left: 0%;
    transform: translateY(-7%);
}

/*Copas*/
.glasses {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%) translateY(-8%);
}

/*Titulos Dorados*/
.goldLeters {
    margin:20px;
    text-align: center;
    color: #966D39;
    font-size: 30px;
    position: absolute;
    top: 22%;
}

/*Escritos*/
.paragraph {
    width: 240px;
    text-align: center;
    font-size: 22px;
    position: absolute;
    top:34%;

}

/*Boton verde*/
.button {
    padding: 10px;
    width: 240px;
    background-color:#518354;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    transform: translateY(-5%);

}

/*Hover del boton verde*/
.button:hover {
    padding: 10px;
    width: 230px;
    background-color:white;
    border-radius: 25px;
    border: 2px solid #518354;
    color: #518354;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    transform: translateY(-5%);
}

.divider {
    background-color: #C3B68D;
    height: 3px;
    width: 100%;
    position: relative;
}

/*Espacio para compartir una sesión de fotos en la costa del río de la plata*/
/*Contenedor 3*/
.container3 {
    display: flex;
    justify-content: center;
    height: 950px; 
    width: 100%;
    position: relative;

}

/*Ajustando medidas para titulo dorado*/
.goldLetersPhotos {
    position: absolute;
    top: 25px;
}

/*Contenedor de tarjetas de fotos*/
.photoContainer {
    display: flex;
    justify-content: center;
    width: 310px;
    height: 680px;
    margin:auto;
    margin-top: 110px;
    flex-wrap: wrap;
}

.imagen-zoom img {
    transition:all 0.5s; 
    -moz-transition:all 0.5s; 
    -webkit-transition:all 0.5s;
    border-radius: 10px; 
    margin: 10px;
    box-shadow: 2px 2px 10px rgb(143, 143, 143);
}
/* .imagen-zoom img:hover{
    transform:scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform:scale(1.2);
    border-radius: 10px;
    margin: 10px;
} */

.dimensiones {
    width: 130px;
    height: 180px;
    object-fit: cover;
}

/*Tarjetas contenedoras de fotos*/
.cards {
    width: 240px;
    height: 300px;
    margin: 2px;
    background-color: rgb(204, 204, 204);
    border-radius: 15px;
}

.cards:hover {
    width: 275px;
    height: 345px;
    background-color: rgb(204, 204, 204);
    border-radius: 15px;
}

.light-box {
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    width: 300px;
    max-height: 400px;
    object-fit: cover;
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    font-size: 25px;
}

.direction-left {
    position: absolute;
    top: 45%;
    left: 15px;
    transform: translateY(-45%) translateX(-15px);
}

.direction-right {
    position: absolute;
    top: 45%;
    right: 35px;
    transform: translateY(-45%) translateX(-35px);
}

.next {
    display:inline;
    position: absolute;
    color: white;
    cursor: pointer;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    line-height: 30px;
    text-align: center;
    margin: 15px;
}

/*Seccion regalo*/
/*contenedor 4*/
.gradientCbu {
    height: 270px;
    position: relative;
}
.container4 {
    display: flex;
    justify-content: center;
    height: 270px; 
    position: relative;
}


.regalo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-15%);
}
.paragGift {
    width: 290px;
    color: white;
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
}

.buttonCbu {
    bottom: 5%;
    transform: translateY(-5%);
    position: absolute;
}

.buttonCbu:hover {
    bottom: 5%;
    transform: translateY(-5%);
    background-color: #70A57d;
    position: absolute;
}

.show-modal {
    background: white;
    border-radius: 25px;
    border-style: none;
    padding: 10px;
    width: 240px;
    color: #518354;
    font-size: 20px;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateY(-8%) translateX(-50%);
    text-decoration: none;
}

.show-modal:hover {
    cursor:pointer;
    background: transparent;
    border: 2px solid white;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateY(-8%) translateX(-50%);
}

.modal {
    display: none;
    background: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-container {
    background: white;
    min-width: 290px;
    min-height: 290px;
    position: absolute;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    border-radius: 15px;
    
} 

h2 {
    text-align: center;
    color: #518354;
    font-size: 22px;
    padding-top: 20px;
}

.letersModal {
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}

.close-modal {
    color: rgba(0,0,0, 0.85);
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
} 


/*Confirmacion de asistencia*/

.container5 {
    display: flex;
    justify-content: center;
    position: relative;
    height: 330px;
}

.goldLetersConf {
    top:5%;
    width: 290px;
}

.paragraphConf {
    top: 38%;
}

.buttonConf {
    position: absolute;
    bottom: 10%;
    transform: translateY(-10%);
}

.buttonConf:hover {
    position: absolute;
    bottom: 10%;
    transform: translateY(-10%);
}

/*Seccion de fotos de instagram*/

.parallax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}

.parallax.image2 {
    background-size:cover;
    background-image: url("./img/final5.png");
    height: 350px;
    width: 100%;
    position: relative;
}

.whiteTitle {
    position: absolute;
    color: white;
    font-size: 35px;
    top: 22%;
    left: 50%;
    transform: translateY(-22%) translateX(-50%);
    
}

.whiteButton {
    padding: 10px;
    width: 240px;
    background-color:white;
    border-radius: 25px;
    color: #518354;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 10%;
    transform: translateY(-10%);
}

.whiteButton:hover {
    padding: 10px;
    width: 240px;
    background-color:transparent;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 10%;
    transform: translateY(-10%);
}

.buttonIg {
    position: absolute;
    bottom: 10%;
    transform: translateY(-10%);
}
.buttonIg:hover{
    bottom: 10%;
    transform: translateY(-10%);
}

.letersIg {
    font-size: 22px;
    width: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.smallWhiteLeters {
    color: white;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*hasta aqui codigo bien*/
/*Seccion de recomendaciones de canciones*/
.container6 {
    display: flex;
    justify-content: center;
    position: relative;
    height: 310px;
}

.buttonSong {
    position: absolute;
    bottom: 10%;
}

.buttonSong:hover {
    position: absolute;
    bottom: 10%;
}

.paragraphSongs {
    top:54%;
    transform: translateY(-54%);
}

/*Gradiente final*/
.gradientEnd {
    position: relative;
    bottom: 0%;
}

.smallWhiteLetersEnd {
    color: white;
    font-size: 22px;
    width: 290px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/* Para 480px */  
@media screen and (min-width: 480px) and (max-width: 768px){  
/*Imagen de corona con efecto parallax para el fondo*/

.parallax1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 700px;
    background-attachment: fixed;
}

.parallax.image1 {
    background-image: url("./logos/corona.png");
    height: 100vh;
    position: relative;
} 

.coverPage {
    background-image: url("./logos/corona.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 50% 50%;
    background-size:650px;
    position: relative;
}

.title {
    top: 45%;
    transform: translateY(-45%);
}


/*Subtitulo Nos casamos*/
.subTitle {
    top: 53%;
    transform: translateY(-53%);
}


.container2 {
    height: 600px;
}

.goldLeters {
    top: 25%;
}

/*Escritos*/
.paragraph {
    top: 40%;
    width: 400px;
}

.button {
    bottom: 8%;
    transform: translateY(-8%);

}

/*Hover del boton verde*/
.button:hover {
    bottom: 8%;
    transform: translateY(-8%);
}


#ultima{
    display: none;
}
#penultima{
    display: none;
}

.container3 {
    height: 550px; 
}

/*Ajustando medidas para titulo dorado*/
.goldLetersPhotos {
    position: absolute;
    top: 25px;
}

/*Contenedor de tarjetas de fotos*/
.photoContainer {
    width: 480px;
    height: 400px;
}

.dimensiones {
    width: 134px;
}

.light-box img {
    width: 350px;
    max-height: 450px;
    object-fit: cover;
}

.paragGift {
    width: 470px;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
}

.goldLetersConf {
    top:8%;
    width: 290px;
}

.paragraphConf {
    top: 42%;
    width: 400px;
}

.buttonConf {
    bottom: 15%;
    transform: translateY(-15%);
}

.buttonConf:hover {
    bottom: 15%;
    transform: translateY(-15%);
}

.whiteButton {
    bottom: 15%;
    transform: translateY(-15%);
}

.whiteButton:hover {
    bottom: 15%;
    transform: translateY(-15%);
}

.buttonIg {
    position: absolute;
    bottom: 15%;
    transform: translateY(-15%);
}
.buttonIg:hover{
    bottom: 15%;
    transform: translateY(-15%);
}

.letersIg {
    width: 400px;
}

.buttonSong {
    bottom: 15%;
}

.buttonSong:hover {
    bottom: 15%;
}

.paragraphSongs {
    top:54%;
    transform: translateY(-54%);
}

/*Gradiente final*/
.gradientEnd {
    position: relative;
    bottom: 0%;
}

.smallWhiteLetersEnd {
    width: 470px;
}

}


/* Para 480px */  
@media screen and (min-width: 769px) and (max-width: 1200px){  
    /*Imagen de corona con efecto parallax para el fondo*/
    
    .parallax1 {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 700px;
        background-attachment: fixed;
    
    }
    
    .parallax.image1 {
        background-image: url("./logos/corona.png");
        height: 100vh;
        position: relative;
    } 
    
    .coverPage {
        background-image: url("./logos/corona.png");
        background-repeat: no-repeat;
        height: 100vh;
        background-position: 50% 50%;
        background-size: 900px;
        position: relative;
    }
    
    .title {
        top: 48%;
        transform: translateY(-48%);
        font-size: 100px;
    }
    
    
    /*Subtitulo Nos casamos*/
    .subTitle {
        top: 58%;
        transform: translateY(-58%);
        font-size: 30px;
    }
    
    .whiteLeters {
        color: white;
        width: 100%;
        font-size: 30px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .container2 {
        height: 600px;
    }
    
    .goldLeters {
        top: 25%;
    }
    
    /*Escritos*/
    .paragraph {
        top: 43%;
        font-size: 24px;
        width: 550px;
    }
    
    .button {
        bottom: 10%;
        transform: translateY(-10%);
    
    }
    
    /*Hover del boton verde*/
    .button:hover {
        bottom: 10%;
        transform: translateY(-10%);
    }
    

    .container3 {
        height: 580px; 
    }
    
    /*Ajustando medidas para titulo dorado*/
    .goldLetersPhotos {
        position: absolute;
        top: 25px;
    }
    
    /*Contenedor de tarjetas de fotos*/
    .photoContainer {
        width: 760px;
        height: 400px;
    }
    
    .dimensiones {
        width: 160px;
        height: 200px;
    }
    
    .light-box img {
        width: 450px;
        max-height: 550px;
        object-fit: cover;
    }

    .imagen-zoom img:hover{
    transform:scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform:scale(1.2);
    border-radius: 10px;
    margin: 10px;
    } 

    
    .paragGift {
        width: 550px;
        top: 55%;
        left: 50%;
        font-size: 24px;
        transform: translateX(-50%) translateY(-55%);
    }
    
    .modal {
        display: none;
        background: rgba(0,0,0, 0.5);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    
    .modal-container {
        min-width: 400px;
        min-height: 400px;
    } 
    
    h2 {
        font-size: 25px;
        padding-top: 40px;
    }
    
    .letersModal {
        font-size: 20px;
        padding-top: 40px;
    }
    
    .close-modal {
        top: 20px;
        right: 20px;
    } 

    .goldLetersConf {
        top:8%;
        width: 290px;
    }
    
    .paragraphConf {
        top: 42%;
        width: 400px;
    }
    
    .buttonConf {
        bottom: 15%;
        transform: translateY(-15%);
    }
    
    .buttonConf:hover {
        bottom: 15%;
        transform: translateY(-15%);
    }
    
    .whiteButton {
        bottom: 15%;
        transform: translateY(-15%);
    }
    
    .whiteButton:hover {
        bottom: 15%;
        transform: translateY(-15%);
    }
    
    .buttonIg {
        position: absolute;
        bottom: 15%;
        transform: translateY(-15%);
    }
    .buttonIg:hover{
        bottom: 15%;
        transform: translateY(-15%);
    }
    
    .letersIg {
        width: 550px;
    }
    
    .buttonSong {
        bottom: 15%;
    }
    
    .buttonSong:hover {
        bottom: 15%;
    }
    
    .paragraphSongs {
        top:54%;
        transform: translateY(-54%);
        width: 550px;
    }
    
    /*Gradiente final*/
    .gradientEnd {
        position: relative;
        bottom: 0%;
    }
    
    .smallWhiteLetersEnd {
        width: 760px;
        font-size: 26px;
    }
    
    }

    /* Para 480px */  
@media screen and (min-width: 1201px) and (max-width: 1800px){  
    /*Imagen de corona con efecto parallax para el fondo*/
    
    * {
        padding: 0;
        margin: 0;
        font-family: 'Molengo', sans-serif;
    }
    
    /*Imagen de corona con efecto parallax para el fondo*/
    
    .parallax {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size:1000px;
        background-attachment: fixed;
    
    }
    
    .parallax.image1 {
        background-image: url("./logos/corona.png");
        height: 100vh;
        position: relative;
    }
    
    
    /*Portada de la invitacion, incluye título, subtítulo, scroll de flecha e imagenes de hojas*/
    /*Contenedor 1*/
    .container {
        display: flex;
        justify-content: center;
    }
    
    /*Titulo principal Gene & Juan*/
    .title {
        margin: 0px auto;
        text-align: center;
        height: 500px;
        font-family: 'Montez', 'cursive';
        color: #966D39;
        font-size: 120px;
        font-weight: 400;
        position: absolute;
        top: 38%;
        display: table;
        
    }
    
    
    /*Subtitulo Nos casamos*/
    .subTitle {
        margin: 0px auto;
        text-align: center;
        height: 300px;
        color: #966D39;
        font-size: 37px;
        letter-spacing: 5px;
        position: absolute;
        top: 55%;
    }
    

    
    /*Flecha con efecto scroll desintegrandose*/
    .arrowScroll {
        position: absolute;
        top: 94%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .arrowScroll span {
        display :block;
        width: 30px;
        height: 30px;
        border-bottom: 5px solid #b19359;
        border-right: 5px solid #b19359;
        transform: rotate(45deg);
        margin: -10px;
        animation: scroll 2s infinite;
    }
    
    .arrow span:nth-child(2){
        animation-delay: -.2s;
    }
    .arrow span:nth-child(2){
        animation-delay: -.4s;
    }
    
    @keyframes scroll {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);   
        }
        50% {
            opacity: 1;   
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);   
        }
    }
    
    /*Esquina superior izquierda*/
    .corner1 {
        height: 500px;
        width: 300px;
        position: absolute;
        top: 0%;
        left: 0%;
    }
    
    /*Racimo de hojas esquina inferior derecha*/
    .corner2 {
        height: 500px;
        width: 300px;
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
    
    /*Primer divisor fondo verde con gradiente radial*/
    .gradient {
        height: 70px;
        width: 100%;
        position: relative;
        background-image: radial-gradient(#84BA8D, #2F643A);
    }
    
    /*Letras blancas para encabezados*/
    .whiteLeters {
        color: white;
        font-size: 27px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    
    /*Invitación a la celebración incluye copas, imagen de hojas, título y parrafo*/
    /*Contenedor2*/
    .container2 {
        display: flex;
        justify-content: center;
        height: 70vh;
        position: relative;
    }
    
    /*Racimo de hojas*/
    .cluster1 {
        height: 400px;
        width: 250px;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
    }
    
    /*Copas*/
    .glasses {
        width: 110px;
        height: 110px;
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translateX(-50%) translateY(-18%);
    }
    
    /*Titulos Dorados*/
    .goldLeters {
        margin:20px;
        text-align: center;
        color: #966D39;
        font-size: 33px;
        position: absolute;
        top: 37%;
    }
    
    /*Escritos*/
    .paragraph {
        width: 660px;
        height: 50%;
        text-align: center;
        font-size: 22px;
        position: absolute;
        top:53%;
    
    }
    

    
    /*Boton verde*/
    .button {
        padding: 10px;
        width: 240px;
        background-color:#518354;
        border-radius: 25px;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        position: absolute;
        bottom: 10%;
        transform: translateY(-10%);
    
    }
    
    /*Hover del boton verde*/
    .button:hover {
        padding: 10px;
        width: 240px;
        background-color:white;
        border-radius: 25px;
        border: 2px solid #518354;
        color: #518354;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        position: absolute;
        bottom: 10%;
        transform: translateY(-10%);
    }
    
    /*Espacio para compartir una sesión de fotos en la costa del río de la plata*/
    /*Contenedor 3*/
    .container3 {
        display: flex;
        justify-content: center;
        height: 95vh; 
        width: 100%;
        position: relative;
    
    }
    
    /*Ajustando medidas para titulo dorado*/
    .goldLetersPhotos {
        position: absolute;
        top: 40px;
    }
    
    /*Contenedor de tarjetas de fotos*/
    .photoContainer {
        display: flex;
        justify-content: center;
        width: 1040px;
        height: 80vh;
        margin:auto;
        margin-top: 150px;
        flex-wrap: wrap;
    }
    
    .imagen-zoom img {
        transition:all 0.5s; 
        -moz-transition:all 0.5s; 
        -webkit-transition:all 0.5s;
        border-radius: 10px; 
        margin: 10px;
        box-shadow: 2px 2px 10px rgb(143, 143, 143);
    }
    .imagen-zoom img:hover{
        transform:scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform:scale(1.2);
        border-radius: 10px;
        margin: 10px;
    }
    
    .dimensiones {
        height: 300px;
        width: 240px;
        object-fit: cover;
    }
    
    /*Tarjetas contenedoras de fotos*/
    .cards {
        width: 240px;
        height: 300px;
        margin: 2px;
        background-color: rgb(204, 204, 204);
        border-radius: 15px;
    }
    
    .cards:hover {
        width: 275px;
        height: 345px;
        background-color: rgb(204, 204, 204);
        border-radius: 15px;
    }
    
    .light-box {
        position: fixed;
        top:0;
        left: 0;
        background: rgba(0,0,0, 0.5);
        width: 100%;
        height: 100vh;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
    }
    
    .light-box img {
        width: 675px;
        max-height: 900px;
        object-fit: cover;
    }
    
    .close {
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
        color: white;
        text-decoration: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 25px;
    }
    
    .direction-left {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%) translateX(-15px);
    }
    
    .direction-right {
        position: absolute;
        top: 50%;
        right: 65px;
        transform: translateY(-50%) translateX(-65px);
    }
    
    .next {
        display:inline;
        position: absolute;
        color: white;
        cursor: pointer;
        min-height: 70px;
        max-height: 70px;
        min-width: 70px;
        max-width: 70px;
        line-height: 30px;
        text-align: center;
        margin: 30px;
    }
    
    
    /*Seccion regalo*/
    /*contenedor 4*/
    .container4 {
        display: flex;
        justify-content: center;
        height: 30vh; 
        position: relative;
    }
    
    .gradientCbu {
        height: 30vh;
        position: relative;
    }
    .paragGift {
        width: 660px;
        color: white;
        text-align: center;
        font-size: 23px;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%) translateY(-90%);
    }
    
    .buttonCbu {
        bottom: 38%;
        transform: translateY(-38%);
        position: absolute;
    }
    
    .buttonCbu:hover {
        bottom: 18%;
        transform: translateY(-18%);
        background-color: #70A57d;
        position: absolute;
    }
    
    .show-modal {
        background: white;
        border-radius: 25px;
        border-style: none;
        padding: 10px;
        width: 240px;
        color: #518354;
        font-size: 20px;
        position: absolute;
        left: 50%;
        bottom: 8%;
        transform: translateY(-8%) translateX(-50%);
        text-decoration: none;
    }
    
    .show-modal:hover {
        cursor:pointer;
        background: transparent;
        border: 2px solid white;
        color: white;
        position: absolute;
        left: 50%;
        bottom: 8%;
        transform: translateY(-8%) translateX(-50%);
    }
    
    .modal {
        display: none;
        background: rgba(0,0,0, 0.5);
        width: 100%
        ;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    
    .modal-container {
        background: white;
        min-width: 350px;
        min-height: 350px;
        position: absolute;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
        border-radius: 15px;
        
    } 
    
    .close-modal {
        color: rgba(0,0,0, 0.85);
        position: absolute;
        top: 0.2em;
        right: 0.375em;
        margin: 0;
        padding: 5px;
        font-size: 1.5em;
        text-decoration: none;
        cursor: pointer;
    } 
    
    .regalo {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%) translateY(-20%);
    }
    
    
    .container5 {
        display: flex;
        justify-content: center;
        position: relative;
        height: 37vh;
    }
    
    .goldLetersConf {
        top:15%;
    }
    
    .paragraphConf {
        top: 45%;
    }
    
    .buttonConf {
        position: absolute;
        bottom: 13%;
        transform: translateY(-13%);
    }
    
    .buttonConf:hover {
        position: absolute;
        bottom: 13%;
        transform: translateY(-13%);
    }
    
    .container6 {
        display: flex;
        justify-content: center;
        position: relative;
        height: 32vh;
    }
    

    
    .whiteTitle {
        position: absolute;
        color: white;
        font-size: 60px;
        top: 22%;
        left: 50%;
        transform: translateY(-22%) translateX(-50%);
        
    }
    
    .whiteButton {
        padding: 10px;
        width: 240px;
        background-color:white;
        border-radius: 25px;
        color: #518354;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        position: absolute;
        bottom: 10%;
        transform: translateY(-10%);
    }
    
    .whiteButton:hover {
        padding: 10px;
        width: 240px;
        background-color:transparent;
        border-radius: 25px;
        border: 2px solid white;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        position: absolute;
        bottom: 10%;
        transform: translateY(-10%);
    }
    
    .buttonIg {
        position: absolute;
        bottom: 24%;
        transform: translateY(-24%);
    }
    .buttonIg:hover{
        bottom: 24%;
        transform: translateY(-24%);
    }
    
    .letersIg {
        font-size: 30px;
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translateX(-50%) translateY(-47%);
    }
    
    .smallWhiteLeters {
        color: white;
        font-size: 25px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .parallax {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size:1000px;
        background-attachment: fixed;
    
    }
    
    .parallax.image2 {
        background-size:cover;
        background-image: url("./img/final5.png");
        height: 55vh;
        width: 100%;
        position: relative;
    }
    
    
    .divider {
        background-color: #C3B68D;
        height: 3px;
        width: 100%;
        position: relative;
    }
    
    .buttonSong {
        position: absolute;
        bottom: 15%;
    }
    
    .buttonSong:hover {
        position: absolute;
        bottom: 14%;
    }
    
    .paragraphSongs {
        top:49%;
    }
    
    h2 {
        text-align: center;
        color: #518354;
        font-size: 25px;
        padding-top: 30px;
    }
    
    .letersModal {
        font-size: 20px;
        text-align: center;
        padding-top: 25px;
    }
    
    .gradientEnd {
        position: relative;
        bottom: 0%;
    }
    }
